//colors
$dark-blue: hsl(215, 50, 23);
$medium-blue: hsl(203, 39, 44);
$light-blue: hsl(192, 70, 43);
$cream: hsl(105, 55, 96);
$red: hsl(355, 78, 56);
$orange: hsl(32, 100, 49);
$black: hsl(0, 0, 0);
